.notifications-label {
    width: 16px;
    height: 16px;
    line-height: 16px;
    text-align: center;
    border-radius: 50%;
    position: absolute;
    font-size: 12px;
    top: 8px;
    right: 10px;
    background-color: #E75753;
}