<!-- Toolbar -->
<md-toolbar layout="row" class="md-toolbar-tools">
    <md-button ui-sref="app.home" class="md-icon-button">
        <md-icon>home</md-icon>
    </md-button>
    <h1>Bookii</h1>
    <span flex=""></span>
    <md-input-container md-no-float class="md-accent align-items">
        <input ng-show="search" name="search" type="search" ng-model="q" placeholder="search..." aria-label="Search item">
        <md-button ng-click="search = !search" class="md-icon-button">
            <md-icon>search</md-icon>
        </md-button>
    </md-input-container>
</md-toolbar>

<div ui-view></div>