<div ng-cloak ng-init="ctrl.init()">
  <div layout-gt-sm="row" layout="column" layout-align="center center" layout-wrap>

    <shopping-cart books="ctrl.shoppingCartBooks"> </shopping-cart>

    <md-card flex-gt-sm="25" flex ng-repeat="item in ctrl.books | filter: q">

      <div layout="row" layout-align="space-between center">
        <span class="tags-label left">{{ ::item.quantity }} items </span>
        <span flex=""></span>
        <span class="tags-label right">{{ ::item.price | currency: "R$: " : fractionSize }}</span>
      </div>

      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">{{ ::item.title }}</span>
          <div class="md-subhead">
            <span>{{ ::item.author }}</span>
            <span flex=""></span>
          </div>
        </md-card-title-text>
      </md-card-title>

      <md-card-content layout="row" layout-align="space-between">

        <div class="md-media-lg card-media">
          <div ng-show="ctrl.bookPreview.length > 140 && !showMore">{{ ::ctrl.bookPreview|limitTo:140 }}...
            <md-button md-no-ink class="md-primary" ng-click="showMore = !showMore"><strong>Show more</strong></md-button>
          </div>
          <div ng-show="showMore">{{ ::ctrl.bookPreview }}
            <md-button class="md-primary" ng-click="showMore = !showMore"><strong>Show less</strong></md-button>
          </div>
        </div>


      </md-card-content>
      <!--Maybe a future angular directive-->
      <md-card-actions layout="row">
        <md-button aria-label="Shopping cart" class="md-icon-button" ng-click="ctrl.toggle(item, ctrl.shoppingCartBooks)" ng-mouseenter="item.hover = true"
          ng-mouseleave="item.hover = false">
          <md-icon ng-class="{ 'md-accent': item.hover }" ng-if="!ctrl.exists(item, ctrl.shoppingCartBooks)">add_shopping_cart</md-icon>
          <md-icon class="md-warn" ng-if="ctrl.exists(item, ctrl.shoppingCartBooks)">remove_shopping_cart</md-icon>
        </md-button>
        <!--future favorites logic goes here-->
        <md-button aria-label="Favorite" class="md-icon-button" ng-click="item.favorite = !item.favorite" ng-class="{'md-warn': item.favorite, 'md-accent': item.favoriteHover }"
          ng-mouseenter="item.favoriteHover = true" ng-mouseleave="item.favoriteHover = false">
          <md-icon ng-class="{ 'md-accent': item.favoriteHover }">favorite</md-icon>
        </md-button>
        <md-button aria-label="Show book" class="md-icon-button" ng-click="ctrl.showBookDialog($event, item)" ng-mouseenter="item.showBookHover = true"
          ng-mouseleave="item.showBookHover = false">
          <md-icon ng-class="{ 'md-accent': item.showBookHover }">chrome_reader_mode</md-icon>
        </md-button>
        <!--future share logic goes here-->
        <md-button aria-label="Share" class="md-icon-button" ng-click="ctrl.showBottomSheet($index)" ng-mouseenter="item.shareHover = true"
          ng-mouseleave="item.shareHover = false">
          <md-icon ng-class="{ 'md-accent': item.shareHover }">share</md-icon>
        </md-button>
      </md-card-actions>

    </md-card>

  </div>

</div>