<!-- Toolbar -->
<md-toolbar layout="row" class="md-toolbar-tools">
    <md-button class="menu md-icon-button">
        <md-icon>home</md-icon>
    </md-button>
    <h1>Bookii</h1>
</md-toolbar>

<div ng-init="ctrl.init()">


    <div layout-wrap flex-xs flex-gt-xs="100" layout="row" layout-align="center center">

        <md-card flex-xs="90" flex-lg="25" ng-repeat="item in ctrl.books" md-theme="{{ item.selected ? 'dark-orange' : 'default' }}"
            md-theme-watch>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">{{ item.title }}</span>
                    <span class="md-subhead"> {{ item.author }}</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content layout="row" layout-align="space-between">

                <div class="md-media-lg card-media">

                    <div>
                        <p ng-show="ctrl.bookPreview.length > 130 && !showMore">{{ ctrl.bookPreview|limitTo:130 }}...
                            <md-button class="md-primary" ng-click="showMore = !showMore"><strong>Show more</strong></button>
                        </p>
                        <p ng-show="showMore">{{ ctrl.bookPreview }}
                            <md-button class="md-primary" ng-click="showMore = !showMore"><strong>Show less</strong></button>
                        </p>
                    </div>

                </div>

                <md-card-actions layout="column">
                    <md-button class="md-icon-button" aria-label="Favorite">
                        <md-icon>favorite</md-icon>
                    </md-button>
                    <md-button class="md-icon-button" aria-label="Settings">
                        <md-icon>shopping_cart</md-icon>
                    </md-button>
                    <md-button class="md-icon-button" aria-label="Share">
                        <md-icon>share</md-icon>
                    </md-button>
                </md-card-actions>
            </md-card-content>
        </md-card>

    </div>

    {{ctrl.books}}

    <shopping-cart></shopping-cart>

    <label>Name:</label>
    <input type="text" ng-model="yourName" placeholder="Enter a name here">
    <hr>
    <h1> Name {{yourName}}!</h1>
    <img src="/images/logo.png" style="width: 200px; height: 200px;" alt="Logotipo com um livro">

</div>