<md-dialog aria-label="Book quantity" flex-lg="50">

  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>{{ ::ctrl.book.title }}</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="ctrl.closeBookDialog()">
        <md-icon aria-label="Close dialog">close</md-icon>
      </md-button>
    </div>
  </md-toolbar>

  <md-dialog-content>
    <div class="md-dialog-content">

      <div layout="row" layout-align="space-between center">
        <span class="tags-label left">{{ ::ctrl.book.quantity }} books</span>
        <span flex=""></span>
        <span class="tags-label right">{{ ::ctrl.book.price | currency: "R$: " : fractionSize }}</span>
      </div>

      <h2>{{ ::ctrl.book.author }} - {{ ::ctrl.book.title }}</h2>
      <p> {{ ::ctrl.bookPreview }} </p>

      <md-button ng-href="http://en.wikipedia.org/wiki/{{ctrl.book.title}}" target="_blank" md-autofocus>
        More on Wikipedia
      </md-button>

    </div>
  </md-dialog-content>

  <md-dialog-actions layout="row" layout-align="start center">
    <span flex></span>
    <md-button class="md-raised md-accent" ng-click="ctrl.closeBookDialog()">
      Close
    </md-button>
  </md-dialog-actions>

</md-dialog>